body {
    background-color: purple;
    width: 700px;
    font-family: sans-serif;
}
h1{
    color:rgb(5, 56, 5);
    font-size: 1.8rem;
}
h2{
    color:rgb(5, 56, 5);
    font-size: 1.4rem;
}
h3{
    color:rgb(5, 56, 5);
    font-size: 1.2rem;
}
p {
    background-color: rgb(83, 22, 83);
    color: yellow;
    margin-left: 1em;
}
abbr{
    text-align: small-caps;
}
.summary{
    text-align: right;
}
.main{
    line-height: 1.5;
}